/*GENERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 80%;
    margin: 20px auto;
}

ul{
    list-style: none;
}

/*product gallery*/

.col{
    display: inline-block;
    width: calc(100% / 3);
    margin: 0 -2px 50px;
    padding: 0 5px;  
    position: relative;
}

.col img{
    width: 100%;
}

.discount{
    font-size: 11px;
    color: white;
    position: absolute;
    bottom: 22px;
    left: 5px;
}

.discount-number{
    background-color: #eb0037;
    padding: 4px;
}

.discount-type{
    background-color: #00875a;
    padding: 4px;
}

.col .heart{
    width: 35px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    background-color: white;
    position: absolute;
    top: 15px;
    right: 5px;

}