/*GENERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 80%;
    margin: 20px auto;
}

ul{
    list-style: none;
}

li {
    display: inline;
}

/*product gallery*/
/*products*/
.col{
    display: inline-block;
    width: calc(100% / 3);
    margin: 0 -2px 50px;
    padding: 0 5px;  
}
/*pictor*/
.pictur{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.col .pictur img{
    width: 100%;    
}

.pictur-under {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

.pictur:hover .pictur-under {
    display: block;
}

.discount{
    font-size: 11px;
    color: white;
    position: absolute;
    bottom: 22px;
    left: 0px;
}

.discount-number{
    background-color: #eb0037;
    padding: 4px;
}

.discount-type {
    background-color: #00875a;
    padding: 4px;
}

.col .heart {
    width: 35px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    background-color: white;
    position: absolute;
    top: 15px;
    right: 0px;
}

/*caption*/
.col .logo  {
    font-size: 12px;
    color: gray;
}

strong {
    font-size: 15px;
}

.col .cost {
    font-size: 11px;
    color: red;
}

div.cost > span {
    color: black;
    text-decoration-line: line-through;
}

